.advantages{
  width: 87.5%;
  margin: 0 auto 35px;
  @media (min-width: 500px) {
    width: 70%;
  }
  @media (min-width: 768px) {
    display: flex;
    width: 100%;
  }
}
.advantages__item{
  position: relative;
  padding-top: 40px;    
  padding-left: 50px;
  @media (min-width: 768px) {
    flex-basis: 33.3%;
    padding: 150px 45px 30px;
    text-align: center;
  }
  &::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0px;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    @media (min-width: 768px) {
      width: 75px;
      height: 72px;
      top: 60px;
      left: 50%;
      background-size: 75px 72px;
      transform: translateX(-50%);
    }
  }
  &--house{
    @media (min-width: 768px) {
      order: 1;
    }
    &::before{
      background-image: url("../img/icons/icon-house.svg");
    }
  }
  &--gift{
    @media (min-width: 768px) {
      order: 3;
    }
    &::before{
      background-image: url("../img/icons/icon-gift.svg");
    }
  }
  &--food{
    @media (min-width: 768px) {
      order: 2;
    }
    &::before{
      background-image: url("../img/icons/icon-burger.svg");
    }
  }
}
.advantages__title{
  margin-bottom: 16px;
  font-size: $fsz-title;
  line-height: $l-height;

  @media (min-width: 768px) {
    font-size: $f-size;
  }
}
.advantages__text{
  color: $base-color;
}